<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fordownloads.orangefox">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:forceDarkAllowed="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:preserveLegacyExternalStorage="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.OrangeFox">
        <activity
            android:name=".activity.LogViewActivity"
            android:label="@string/log_activity"
            android:theme="@style/Theme.OrangeFox.Activity" />
        <activity
            android:name=".activity.PatternActivity"
            android:label="@string/script_decrypt_pattern"
            android:theme="@style/Theme.OrangeFox.Activity" />
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/activity_settings"
            android:theme="@style/Theme.OrangeFox.Activity" />

        <service
            android:name=".service.DownloadService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".service.Scheduler"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity
            android:name=".activity.RecyclerActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:label="@string/app_name"
            android:theme="@style/Theme.OrangeFox.Activity" />
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/Theme.OrangeFox.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".service.ActionReceiver"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.fordownloads.orangefox.Reboot" />
                <action android:name="com.fordownloads.orangefox.ORS" />
                <action android:name="com.fordownloads.orangefox.Start" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.fordownloads.orangefox.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>