<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fordownloads.orangefox">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
        android:allowBackup="true"
        android:name=".App"
        android:forceDarkAllowed="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:preserveLegacyExternalStorage="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OrangeFox">
        <service
            android:name=".DownloadService"
            android:enabled="true"
            android:exported="true" />
        <activity
            android:name=".RecyclerActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:label="@string/app_name"
            android:theme="@style/Theme.OrangeFox.Activity" />
        <activity
            android:name=".MainActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".ActionReceiver"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.fordownloads.orangefox.Cancel" />
                <action android:name="com.fordownloads.orangefox.Reboot" />
                <action android:name="com.fordownloads.orangefox.ORS" />
                <action android:name="com.fordownloads.orangefox.Start" />
                <action android:name="com.fordownloads.orangefox.Update" />
            </intent-filter>
        </receiver>
    </application>

</manifest>